<div class="container">
  <h1>Ürünler</h1>
  
  
  <mat-form-field appearance="outline">
    <input matInput placeholder="Ürün Ara..." (keyup)="Filtrele($event)">
  </mat-form-field>
  
  
  <button mat-fab matTooltip="Ürün Ekle" color="accent" (click)="Ekle()" class="mat-elevation-z8">
    <mat-icon aria-label="label">library_add</mat-icon>
  <p>&nbsp;</p>
  </button>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z4">

      <ng-container matColumnDef="urunAd">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Urun Ad
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit"> {{kayit.urunAd}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="urunStok">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ürün Stok
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit"> {{kayit.urunStok}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="urunFiyat">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ürün Fiyat
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit"> {{kayit.urunFiyat}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="islemler">
        <mat-header-cell *matHeaderCellDef> İşlemler
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit">
  
          <button mat-icon-button color="accent" matTooltip="Ürün Düzenle" (click)="Duzenle(kayit)">
            <mat-icon aria-label="label">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Ürün Sil" (click)="Sil(kayit)">
            <mat-icon aria-label="label">delete</mat-icon>
          </button>
  
        </mat-cell>
      </ng-container>
    
  
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator>
  
  </div>